[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/bin/xremap %h/.config/xremap.rb
ExecStop=/usr/bin/killall xremap
Restart=always
Environment=DISPLAY=:0.0

[Install]
WantedBy=default.target
